@tailwind base;
@tailwind components;
@tailwind utilities;

/* Depth of the hero backround  */
.min-h-screen {
    min-height: 50vh;
}

.bg-neutral {
    --tw-bg-opacity: 1;
    background-color: #e5e6e6;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
    /* color: rgb(68, 35, 177); */
    color: rgb(31, 31, 31);

    font-family: "Red Rose", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;

    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;

}

.text-3xl {
    font-size: 2rem;
    line-height: 2rem;

    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;

}


html, :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-size: 1.2rem;

  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;

    -webkit-tap-highlight-color: transparent;
}


.border-primary {
    --tw-border-opacity: 0;
}

.border-black {
    --tw-border-opacity: 0;

}

.shadow-2xl {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: var(--padding-card, 2rem);
    gap: 0.5rem;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}